<a href="https://colab.research.google.com/github/yaqeenissa/US-Bikeshare-Data-Analysis/blob/main/Bike_Share_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Bike Share Data

In [40]:
import numpy as np
import pandas as pd
import time

 **Create DF**

In [9]:
df_new_york_city=pd.read_csv('/content/Data/new_york_city.csv')
df_chicago=pd.read_csv('/content/Data/chicago.csv')
df_washington=pd.read_csv('/content/Data/washington.csv')

df_new_york_city['City']='New York City'
df_chicago['City']='Chicago'
df_washington['City']='Washington'


DataFrame=pd.concat([df_new_york_city,df_chicago,df_washington])

In [13]:
DataFrame.to_csv('Bike_Share.csv')

In [17]:
DataFrame.shape

(900000, 10)

In [19]:
DataFrame=DataFrame.drop('Unnamed: 0',axis=1)
DataFrame.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,City
0,2017-06-11 14:55:05,2017-06-11 15:08:21,795.0,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0,New York City
1,2017-05-11 15:30:11,2017-05-11 15:41:43,692.0,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0,New York City
2,2017-03-29 13:26:26,2017-03-29 13:48:31,1325.0,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0,New York City
3,2017-05-08 19:47:18,2017-05-08 19:59:01,703.0,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0,New York City
4,2017-06-21 07:49:16,2017-06-21 07:54:46,329.0,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0,New York City

In [22]:
DataFrame.isnull().sum()

Start Time            0
End Time              0
Trip Duration         0
Start Station         0
End Station           0
User Type           692
Gender           390261
Birth Year       389239
City                  0
dtype: int64

Gender and Birth year null for Washington.

#Popular times of travel (i.e., occurs most often in the start time)

most common month
most common day of week
most common hour of day

In [27]:
DataFrame['Start Time'].info()

<class 'pandas.core.series.Series'>
Index: 900000 entries, 0 to 299999
Series name: Start Time
Non-Null Count   Dtype
--------------   -----
900000 non-null  object
dtypes: object(1)
memory usage: 13.7+ MB

In [29]:
DataFrame['Start Time']=pd.to_datetime(DataFrame['Start Time'])

In [31]:
DataFrame['Month']=DataFrame['Start Time'].dt.month
DataFrame['Day']=DataFrame['Start Time'].dt.day
DataFrame['Hour']=DataFrame['Start Time'].dt.hour

In [35]:
most_common_month=DataFrame['Month'].mode()[0]
most_common_day=DataFrame['Day'].mode()[0]
most_common_hour=DataFrame['Hour'].mode()[0]

In [36]:
print(f"Most common month: {most_common_month}")
print(f"Most common day of week: {most_common_day}")
print(f"Most common hour of day: {most_common_hour}")

Most common month: 6
Most common day of week: 21
Most common hour of day: 8

In [39]:
# Most common Start Station
most_common_start_station = DataFrame['Start Station'].mode()[0]

# Most common End Station
most_common_end_station = DataFrame['End Station'].mode()[0]

# Most common trip (Start to End)
DataFrame['Trip Combination'] = DataFrame['Start Station'] + " → " + DataFrame['End Station']
most_common_trip = DataFrame['Trip Combination'].mode()[0]

# Print results
print(f"Most common start station: {most_common_start_station}")
print(f"Most common end station: {most_common_end_station}")
print(f"Most common trip from start to end: {most_common_trip}")

Most common start station: Streeter Dr & Grand Ave
Most common end station: Streeter Dr & Grand Ave
Most common trip from start to end: Lake Shore Dr & Monroe St → Streeter Dr & Grand Ave

In [41]:
def trip_duration_stats(DataFrame):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # Solution 3: Using aggregate functions
    total_duration = DataFrame['Trip Duration'].agg('sum')
    mean_duration = DataFrame['Trip Duration'].agg('mean')

    print('Total Travel Time (agg):', total_duration)
    print('Mean Travel Time (agg):', mean_duration)

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [42]:
trip_duration_stats(DataFrame)

Calculating Trip Duration...

Total Travel Time (agg): 921961020.484
Mean Travel Time (agg): 1024.4011338711111

This took 0.006125450134277344 seconds.
----------------------------------------

In [50]:
def user_stats(DataFrame):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # User Type counts
    user_types = DataFrame['User Type'].unique()
    user_type_counts = {user_type: len(DataFrame[DataFrame['User Type'] == user_type]) for user_type in user_types}
    print('User Types (unique and count):')
    for user, count in user_type_counts.items():
        print(f"  {user}: {count}")

    # Gender counts (only if available)
    if 'Gender' in DataFrame.columns:
        genders = DataFrame['Gender'].dropna().unique()
        gender_counts = {gender: len(DataFrame[DataFrame['Gender'] == gender]) for gender in genders}
        print('\nGenders (unique and count):')
        for gender, count in gender_counts.items():
            print(f"  {gender}: {count}")

    # Birth Year statistics (only if available)
    if 'Birth Year' in DataFrame.columns:
        birth_year_data = DataFrame['Birth Year'].dropna()
        earliest = int(birth_year_data.min())
        most_recent = int(birth_year_data.max())
        most_common = int(birth_year_data.mode()[0])

        print('\nBirth Year Stats:')
        print(f"  Earliest: {earliest}")
        print(f"  Most Recent: {most_recent}")
        print(f"  Most Common: {most_common}")

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [51]:
user_stats(DataFrame)

Calculating User Stats...

User Types (unique and count):
  Subscriber: 728824
  Customer: 170483
  nan: 0
  Dependent: 1

Genders (unique and count):
  Male: 385198
  Female: 124541

Birth Year Stats:
  Earliest: 1885
  Most Recent: 2016
  Most Common: 1989

This took 0.785719633102417 seconds.
----------------------------------------

In [52]:
import pandas as pd
import time

CITY_DATA = {
    'chicago': 'Data/chicago.csv',
    'new york city': 'Data/new_york_city.csv',
    'washington': 'Data/washington.csv'
}

def get_city():
    """Asks user to specify a city to analyze and validates input."""
    while True:
        city = input("Please enter a city (Chicago, New York City, Washington): ").strip().lower()
        if city in CITY_DATA:
            return city
        else:
            print("Invalid city name. Please try again.")

def load_data(city):
    """Loads data for the specified city and adds new time-related columns."""
    df = pd.read_csv(CITY_DATA[city])
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['Month'] = df['Start Time'].dt.month
    df['Day'] = df['Start Time'].dt.day_name()
    df['Hour'] = df['Start Time'].dt.hour
    df['City'] = city.title()
    return df

def time_stats(df):
    """Displays statistics on the most frequent times of travel."""
    print('\nCalculating The Most Frequent Times of Travel...')
    start_time = time.time()

    common_month = df['Month'].mode()[0]
    common_day = df['Day'].mode()[0]
    common_hour = df['Hour'].mode()[0]

    print(f"Most Common Month: {common_month}")
    print(f"Most Common Day: {common_day}")
    print(f"Most Common Hour: {common_hour}")
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def station_stats(df):
    """Displays statistics on the most popular stations and trip."""
    print('\nCalculating The Most Popular Stations and Trip...')
    start_time = time.time()

    start_station = df['Start Station'].mode()[0]
    end_station = df['End Station'].mode()[0]
    df['Trip Combination'] = df['Start Station'] + " -> " + df['End Station']
    most_common_trip = df['Trip Combination'].mode()[0]

    print(f"Most Common Start Station: {start_station}")
    print(f"Most Common End Station: {end_station}")
    print(f"Most Common Trip: {most_common_trip}")
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""
    print('\nCalculating Trip Duration...')
    start_time = time.time()

    total_duration = df['Trip Duration'].sum()
    mean_duration = df['Trip Duration'].mean()

    print(f"Total Travel Time: {total_duration} seconds")
    print(f"Mean Travel Time: {mean_duration} seconds")
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def user_stats(df):
    """Displays statistics on bikeshare users."""
    print('\nCalculating User Stats...')
    start_time = time.time()

    user_types = df['User Type'].value_counts()
    print("\nUser Types:")
    print(user_types.to_string())

    if 'Gender' in df.columns:
        gender_counts = df['Gender'].value_counts()
        print("\nGender Counts:")
        print(gender_counts.to_string())

    if 'Birth Year' in df.columns:
        earliest = int(df['Birth Year'].min())
        most_recent = int(df['Birth Year'].max())
        most_common = int(df['Birth Year'].mode()[0])

        print("\nBirth Year Stats:")
        print(f"Earliest Year: {earliest}")
        print(f"Most Recent Year: {most_recent}")
        print(f"Most Common Year: {most_common}")

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def display_raw_data(df):
    """Displays 5 lines of raw data at a time upon user request."""
    start = 0
    while True:
        show_data = input("Would you like to view 5 lines of raw data? Enter yes or no: ").strip().lower()
        if show_data == 'yes':
            print(df.iloc[start:start+5])
            start += 5
        elif show_data == 'no':
            break
        else:
            print("Invalid input. Please enter yes or no.")

def main():
    """Main program loop."""
    while True:
        city = get_city()
        df = load_data(city)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)
        display_raw_data(df)

        restart = input("\nWould you like to restart? Enter yes or no: ").strip().lower()
        if restart != 'yes':
            break

if __name__ == "__main__":
    main()

Please enter a city (Chicago, New York City, Washington): Chicago

Calculating The Most Frequent Times of Travel...
Most Common Month: 6
Most Common Day: Tuesday
Most Common Hour: 17

This took 0.06324148178100586 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...
Most Common Start Station: Streeter Dr & Grand Ave
Most Common End Station: Streeter Dr & Grand Ave
Most Common Trip: Lake Shore Dr & Monroe St -> Streeter Dr & Grand Ave

This took 0.25254297256469727 seconds.
----------------------------------------

Calculating Trip Duration...
Total Travel Time: 280871787 seconds
Mean Travel Time: 936.23929 seconds

This took 0.0013070106506347656 seconds.
----------------------------------------

Calculating User Stats...

User Types:
User Type
Subscriber    238889
Customer       61110
Dependent          1

Gender Counts:
Gender
Male      181190
Female     57758

Birth Year Stats:
Earliest Year: 1899
Most Recent Year: 2016
Most Common Year: 1989

This took 0.04668235778808594 seconds.
----------------------------------------
Would you like to view 5 lines of raw data? Enter yes or no: yes
   Unnamed: 0          Start Time             End Time  Trip Duration  \
0     1423854 2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915 2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031 2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487 2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207 2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year  Month        Day  Hour     City  \
0    Male      1992.0      6     Friday    15  Chicago
1  Female      1992.0      5   Thursday    18  Chicago
2    Male      1981.0      1  Wednesday     8  Chicago
3    Male      1986.0      3     Monday    13  Chicago
4    Male      1975.0      1    Tuesday    14  Chicago

                                    Trip Combination
0    Wood St & Hubbard St -> Damen Ave & Chicago Ave
1  Theater on the Lake -> Sheffield Ave & Wavelan...
2          May St & Taylor St -> Wood St & Taylor St
3  Christiana Ave & Lawrence Ave -> St. Louis Ave...
4  Clark St & Randolph St -> Desplaines St & Jack...
Would you like to view 5 lines of raw data? Enter yes or no: no

Would you like to restart? Enter yes or no: no